<app-header></app-header>
 
     <div class="imgBG">
      <video  width="1100" height="800" autoplay>
        <source src="\assets\fastfoodvidei.mp4" type="video/mp4">
    </video>
  </div>
  <h1 style="text-align: center;">About us</h1>
   <p  style="color: black;margin-left: 50px;margin-right: 50px;">

    Welcome to RK's Cafe, where every flavor tells a story and every dish is a masterpiece. Situated in the vibrant heart of Chinchwad-Pune, our café is a delightful haven for discerning palates craving the perfect blend of comfort food and culinary innovation. At RK's Cafe, we're more than just a café; we're a destination where coffee connoisseurs, pizza aficionados, burger lovers, and ice cream enthusiasts come together to indulge in the finer things in life.<br>

    From the moment you step through our doors, you're greeted with the tantalizing aroma of freshly brewed coffee, the irresistible scent of wood-fired pizzas, and the sizzle of juicy burgers on the grill. Whether you're in the mood for a piping hot cup of artisanal coffee, a slice of authentic Italian pizza loaded with premium toppings, a gourmet burger crafted to perfection, or a scoop of creamy, decadent ice cream, our menu offers something to delight every palate.
    